<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<main th:fragment="ad">
    <section class="container my-3" th:if="${successMessage}">
        <div class="alert alert-info">
            <span th:text="${successMessage}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
        </div>
    </section>
    <section class="my-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 p-2">
                    <div id="img-property-carousel" class="carousel slide border" data-ride="carousel">
                        <div class="carousel-inner embed-responsive embed-responsive-1by1">
                            <th:block th:each="photo, iStat : ${property.photos}">
                                <div class="carousel-item embed-responsive-item"
                                     th:classappend="${iStat.index == 0} ? active">
                                    <img class="d-block w-100 h-100"
                                         th:src="@{/img/property/{fileName}(fileName=${photo.name})}">
                                </div>
                            </th:block>
                        </div>
                        <!-- Controls -->
                        <a class="carousel-control-prev" href="#img-property-carousel" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#img-property-carousel" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 p-2">
                    <h4>ОСНОВНАЯ ИНФОРМАЦИЯ</h4>
                    <p>
                        <span th:utext="${'<strong>Услуга:</strong> ' + property.serviceType.name}"></span>
                        <br>
                        <span th:utext="${'<strong>Тип недвижимости:</strong> ' + property.propertyType.name}"></span>
                        <br>
                        <th:block th:if="${property.floor != 0}">
                            <span th:utext="${'<strong>Этаж:</strong> ' + property.floor}"></span>
                            <br>
                        </th:block>
                        <th:block th:if="${property.floorsNumber != 0}">
                            <span th:utext="${'<strong>Этажность:</strong> ' + property.floorsNumber}"></span>
                            <br>
                        </th:block>
                        <th:block th:if="${property.roomNumber != 0}">
                            <span th:utext="${'<strong>Количество комнат:</strong> ' + property.roomNumber}"></span>
                            <br>
                        </th:block>
                        <span th:utext="${'<strong>Площадь: </strong> ' + #numbers.formatDecimal(property.area, 1, 2)}"></span>
                    </p>
                    <h4>РАСПОЛОЖЕНИЕ</h4>
                    <p>
                        <span th:utext="${'<strong>Город:</strong> ' + property.city}"></span>
                        <br>
                        <span th:utext="${'<strong>Район:</strong> ' + property.district}"></span>
                        <br>
                        <span th:utext="${'<strong>Улица:</strong> ' + property.street}"></span>
                        <br>
                        <th:block th:if="${property.houseNumber != '0'}">
                            <span th:utext="${'<strong>Номер:</strong> ' + property.houseNumber}"></span>
                        </th:block>
                    </p>
                    <h4>ЦЕНА</h4>
                    <h5 class="text-success pb-1" th:text="${property.price / 100.0 + '$'}"></h5>
                    <h4>КОНТАКТЫ</h4>
                    <p>
                        <span th:utext="${'<strong>Имя:</strong> ' + property.user.firstName}"></span>
                        <br>
                        <span th:utext="${'<strong>Телефон:</strong> ' + property.user.phone}"></span>
                    </p>
                    <div class="d-flex justify-content-start">
                        <th:block th:if="${#authentication.name == property.user.userName}">
                            <a th:href="@{/user/ad/edit/{id}(id=${property.id}, url=${'/ad/' + property.id})}" class="btn btn-primary mr-3">Редактировать</a>

                            <form th:if="${property.status.name != 'DENIED'}"
                                  class="mb-0 mr-3"
                                  th:action="@{/user/ad/deactivate}"
                                  method="post">
                                <input type="hidden" th:value="${property.id}" name="id">
                                <input type="hidden" th:value="${'/ad/' + property.id}" name="url">
                                <button type="submit" class="btn btn-primary h-100">Деактивировать</button>
                            </form>

                            <form th:if="${property.status.name == 'DENIED'}"
                                  class="mb-0 mr-3"
                                  th:action="@{/user/ad/activate}"
                                  method="post">
                                <input type="hidden" th:value="${property.id}" name="id">
                                <input type="hidden" th:value="${'/ad/' + property.id}" name="url">
                                <button type="submit" class="btn btn-primary h-100">Активировать</button>
                            </form>
                        </th:block>
                        <th:block th:insert="~{fragment/like-fragment :: like(${property}, ${'/ad/' + property.id}, ${50})}"></th:block>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 p-2">
                    <h4>ОПИСАНИЕ</h4>
                    <p class="text-justify" th:text="${property.description}"></p>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>