<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security">
<body>
<main th:fragment="ad">
    <section class="my-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 p-2">
                    <div id="img-property-carousel" class="carousel slide border" data-ride="carousel">
                        <div class="carousel-inner embed-responsive embed-responsive-1by1">
                            <th:block th:each="photo, iStat : ${property.photos}">
                                <div class="carousel-item embed-responsive-item"
                                     th:classappend="${iStat.index == 0} ? active">
                                    <img class="d-block w-100 h-100"
                                         th:src="@{/img/property/{fileName}(fileName=${photo.name})}">
                                </div>
                            </th:block>
                        </div>
                        <!-- Controls -->
                        <a class="carousel-control-prev" href="#img-property-carousel" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#img-property-carousel" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 p-2">
                    <h4>ОСНОВНАЯ ИНФОРМАЦИЯ</h4>
                    <p>
                        <span th:utext="${'<strong>Услуга:</strong> ' + property.serviceType.name}"></span>
                        <br>
                        <span th:utext="${'<strong>Тип недвижимости:</strong> ' + property.propertyType.name}"></span>
                        <br>
                        <th:block th:if="${property.floor != 0}">
                            <span th:utext="${'<strong>Этаж:</strong> ' + property.floor}"></span>
                            <br>
                        </th:block>
                        <th:block th:if="${property.floorsNumber != 0}">
                            <span th:utext="${'<strong>Этажность:</strong> ' + property.floorsNumber}"></span>
                            <br>
                        </th:block>
                        <th:block th:if="${property.roomNumber != 0}">
                            <span th:utext="${'<strong>Количество комнат:</strong> ' + property.roomNumber}"></span>
                            <br>
                        </th:block>
                        <span th:utext="${'<strong>Площадь: </strong> ' + #numbers.formatDecimal(property.area, 1, 2)}"></span>
                    </p>
                    <h4>РАСПОЛОЖЕНИЕ</h4>
                    <p>
                        <span th:utext="${'<strong>Город:</strong> ' + property.city}"></span>
                        <br>
                        <span th:utext="${'<strong>Район:</strong> ' + property.district}"></span>
                        <br>
                        <span th:utext="${'<strong>Улица:</strong> ' + property.street}"></span>
                        <br>
                        <th:block th:if="${property.houseNumber != '0'}">
                            <span th:utext="${'<strong>Номер:</strong> ' + property.houseNumber}"></span>
                        </th:block>
                    </p>
                    <h4>ЦЕНА</h4>
                    <h5 class="text-success pb-1" th:text="${property.price / 100.0 + '$'}"></h5>
                    <h4>КОНТАКТЫ</h4>
                    <p>
                        <span th:utext="${'<strong>Имя:</strong> ' + property.user.firstName}"></span>
                        <br>
                        <span th:utext="${'<strong>Телефон:</strong> ' + property.user.phone}"></span>
                    </p>
                    <div class="d-flex justify-content-start">
                        <th:block th:if="${#authentication.name == property.user.userName}">
                            <a href="#" class="btn btn-primary mr-3">Редактировать</a>
                            <a th:if="${property.status.name != 'DENIED'}" href="#" class="btn btn-primary mr-3">Деактивировать</a>
                        </th:block>
                        <th:block class="mr-3" th:insert="~{fragment/like-fragment :: like(${property}, ${'/ad/' + property.id}, ${50})}"></th:block>
                        <!--<a href="#" class="mr-3">
                            <img sec:authorize="!hasRole('ADMIN')"
                                 class="scale-img img-fluid"
                                 th:src="@{/images/not-favorites.png}"
                                 width="50"
                                 height="50">
                        </a>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 p-2">
                    <h4>ОПИСАНИЕ</h4>
                    <p class="text-justify" th:text="${property.description}"></p>
                </div>
            </div>
            <div class="col-sm-12 p-2">
                <h3 class="text-center">КАРТА</h3>
                <!--переделать-->
                <iframe class="w-100" height="300px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://www.openstreetmap.org/export/embed.html?bbox=27.087899744510654%2C53.1471258523253%2C27.090410292148594%2C53.148250310373236&amp;layer=transportmap&amp;marker=53.14768815109555%2C27.089155350000055"></iframe>
            </div>
        </div>
    </section>
</main>
</body>
</html>