<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<body>
<main th:fragment="ad-list(mainContext, buttons, urlName)">
    <div class="container">
        <section class="my-3" th:if="${successMessage}">
            <div class="alert alert-info">
                <span th:text="${successMessage}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
            </div>
        </section>
        <section class="my-3">
            <th:block th:insert="${mainContext}"></th:block>

            <h3 class="text-center my-3" th:if="${propertyPage.totalPages <= 0}">Список пуст!</h3>

            <div class="row">
                <th:block th:each="property, iStat : ${propertyPage.content}">
                    <div class="col-sm-4 p-2">
                        <div class="card h-100">
                            <a th:href="@{/ad/{propertyId}(propertyId=${property.id})}"
                               class="embed-responsive embed-responsive-16by9">
                                <img class="card-img-top embed-responsive-item"
                                     th:src="@{/img/property/{fileName}(fileName=${property.photos.get(0).name})}"/>
                            </a>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h4 class="card-title" th:text="${property.propertyType.name}"></h4>
                                    <th:block
                                            th:insert="~{fragment/like-fragment :: like(
                                            ${property},
                                            ${urlName + '?size=' + propertyPage.size + '&page=' + (propertyPage.number + 1)},
                                            ${30})}">
                                    </th:block>
                                </div>
                                <p class="card-text text-left">
                                    <span class="font-weight-bold">Адрес: </span>
                                    <span th:text="${'г. ' + property.city + ', '}"></span>
                                    <span th:text="${'р-н ' + property.district + ', '}"></span>
                                    <span th:text="${'ул. ' + property.street + (property.houseNumber != '0' ? ', ' : '')}"></span>
                                    <span th:if="${property.houseNumber != '0'}"
                                          th:text="${property.houseNumber}"></span>
                                    <br>
                                    <span class="font-weight-bold">Телефон: </span>
                                    <span th:text="${property.user.phone}"></span>
                                </p>
                            </div>
                            <th:block th:insert="${buttons}"></th:block>
                        </div>
                    </div>
                </th:block>
            </div>

            <nav class="my-3" th:if="${propertyPage.totalPages > 0}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${propertyPage.number == 0} ? disabled">
                        <a class="page-link"
                           th:href="@{{urlName}(urlName=${urlName}, size=${propertyPage.size}, page=${propertyPage.number},
                           propertyTypeId=${propertyDto?.propertyTypeId}, city=${propertyDto?.city}, district=${propertyDto?.district},
                           street=${propertyDto?.street}, floor=${propertyDto?.floor}, floorsNumber=${propertyDto?.floorsNumber},
                           roomNumber=${propertyDto?.roomNumber}, areaFrom=${propertyDto?.areaFrom}, areaTo=${propertyDto?.areaTo},
                           priceFrom=${propertyDto?.priceFrom}, priceTo=${propertyDto?.priceTo})}"
                           tabindex="-1">Предыдущая</a>
                    </li>
                    <th:block th:each="pageNumber : ${pageNumbers}">
                        <li class="page-item" th:classappend="${pageNumber==propertyPage.number + 1} ? active">
                            <a class="page-link"
                               th:href="@{{urlName}(urlName=${urlName}, size=${propertyPage.size}, page=${pageNumber},
                           propertyTypeId=${propertyDto?.propertyTypeId}, city=${propertyDto?.city}, district=${propertyDto?.district},
                           street=${propertyDto?.street}, floor=${propertyDto?.floor}, floorsNumber=${propertyDto?.floorsNumber},
                           roomNumber=${propertyDto?.roomNumber}, areaFrom=${propertyDto?.areaFrom}, areaTo=${propertyDto?.areaTo},
                           priceFrom=${propertyDto?.priceFrom}, priceTo=${propertyDto?.priceTo})}"
                               th:text="${pageNumber}"></a>
                        </li>
                    </th:block>
                    <li class="page-item"
                        th:classappend="${propertyPage.number + 1 == propertyPage.totalPages} ? disabled">
                        <a class="page-link"
                           th:href="@{{urlName}(urlName=${urlName}, size=${propertyPage.size}, page=${propertyPage.number + 2},
                            propertyTypeId=${propertyDto?.propertyTypeId}, city=${propertyDto?.city}, district=${propertyDto?.district},
                           street=${propertyDto?.street}, floor=${propertyDto?.floor}, floorsNumber=${propertyDto?.floorsNumber},
                           roomNumber=${propertyDto?.roomNumber}, areaFrom=${propertyDto?.areaFrom}, areaTo=${propertyDto?.areaTo},
                           priceFrom=${propertyDto?.priceFrom}, priceTo=${propertyDto?.priceTo})}"
                           tabindex="-1">Следующая</a>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
</main>
</body>
</html>