<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<main th:fragment="ad-list(mainContext, tabName)">
  <div class="container">
    <section class="my-3">
      <th:block th:insert="${mainContext}"></th:block>

      <div class="row d-inline-flex">
      <th:block th:each="property, iStat : ${propertyPage.content}">
        <div class="col-sm-4 p-2">
          <div class="card h-100">
            <img class="card-img-top" th:src="@{/img/property/{}"/>
            <h4 class="card-title text-center">Sheep</h4>
            <p class="card-text text-center">Info..</p>
          </div>
        </div>
      </th:block>
      </div>

      <nav class="my-3" th:if="${propertyPage.totalPages > 0}">
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${propertyPage.number == 0} ? disabled">
            <a class="page-link" th:href="@{/user/{tabName}(tabName=${tabName}, size=${propertyPage.size}, page=${propertyPage.number}, search=${search})}" tabindex="-1">Предыдущая</a>
          </li>
          <th:block th:each="pageNumber : ${pageNumbers}">
            <li class="page-item" th:classappend="${pageNumber==propertyPage.number + 1} ? active">
              <a class="page-link" th:href="@{/user/{tabName}(tabName=${tabName}, size=${propertyPage.size}, page=${pageNumber}, search=${search})}"
                 th:text="${pageNumber}"></a>
            </li>
          </th:block>
          <li class="page-item" th:classappend="${propertyPage.number + 1 == propertyPage.totalPages} ? disabled">
            <a class="page-link" th:href="@{/user/{tabName}(tabName=${tabName}, size=${propertyPage.size}, page=${propertyPage.number + 2}, search=${search})}" tabindex="-1">Следующая</a>
          </li>
        </ul>
      </nav>
    </section>
  </div>
</main>
</body>
</html>