<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <main th:fragment="edit-password">
        <section class="my-3">
            <div class="container">
                <form th:action="@{/edit/password}" th:object="${passwordDto}" method="post">
                    <div class="form-row">
                        <div class="col-sm-3 form-group">
                            <label>Старый пароль:</label>
                            <input type="password" class="form-control" th:field="*{oldPassword}">
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="invisible">""</label>
                            <p class="text-danger" th:each="error: ${#fields.errors('oldPassword')}"
                               th:text="${error}"></p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-3 form-group">
                            <label>Новый пароль:</label>
                            <input type="password" class="form-control" th:field="*{newPassword}">
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="invisible">""</label>
                            <p class="text-danger" th:each="error: ${#fields.errors('newPassword')}"
                               th:text="${error}"></p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-3 form-group">
                            <label>Повторите пароль:</label>
                            <input type="password" class="form-control" th:field="*{matchingPassword}">
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="invisible">""</label>
                            <p class="text-danger" th:each="error: ${#fields.errors('matchingPassword')}"
                               th:text="${error}"></p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>