<!DOCTYPE html>
<body xmlns:th="http://www.thymeleaf.org">
<main th:fragment="about">
    <section class="my-3">
        <div class="container">
            <h2>О платформе Sanchoo</h2>
            <p class="text-justify">
                Платформа Sanchoo создана в 2009 году на основе общегородской базы агентств недвижимости
                «Недвижимость 3.0».
            </p>
            <p class="text-justify">
                Sanchoo предоставляет своим посетителям актуальную, ежедневно обновляемую информацию от агентств
                недвижимости, частных лиц о предложении квартир, домов и коммерческой недвижимости
                в аренду и на продажу в Минске и Минской области, в Бресте и Брестской области, Витебске и
                Витебской области, Гродно и Гродненской области, Гомеле и Гомельской области,
                Могилеве и Могилевской области.
            </p>
            <h2>Контанктная информация</h2>
            <p class="text-justify">
                Адрес: проспект Победителей 7А, БЦ «Роял Плаза», 19 этаж, офис 58, 220004, г. Минск<br/>
                Время работы: понедельник-четверг с 9:00 до 18:00, в пятницу с 9:00 до 17:00
            </p>
            <ul>
                <li>A1: +375 (29) 435-65-34</li>
                <li>МТС: +375 (33) 532-43-23</li>
                <li>Life: +375 (25) 423-54-45</li>
            </ul>
        </div>
    </section>
</main>
</body>
</html>