<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <main th:fragment="edit-profile">
       <br><br>
        <section>
            <div class="container">
                <form th:action="@{/edit/profile}" th:object="${user}" method="post">
                    <input type="hidden" th:field="*{id}">
                    <div class="form-row">
                        <div class="col-sm-3 form-group">
                            <label>Имя:</label>
                            <input type="text" class="form-control" th:field="*{firstName}">
                        </div>
                        <div class="col-sm-4">
                            <p th:each="error: ${#fields.errors('firstName')}"
                               th:text="${error}"></p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-3 form-group">
                            <label>Фамилия:</label>
                            <input type="text" class="form-control" th:field="*{lastName}">
                        </div>
                        <div class="col-sm-4">
                            <p th:each="error: ${#fields.errors('lastName')}"
                               th:text="${error}"></p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-3 form-group">
                            <label>E-mail:</label>
                            <input type="email" class="form-control" th:field="*{email}">
                        </div>
                        <div class="col-sm-4">
                            <p th:each="error: ${#fields.errors('email')}"
                               th:text="${error}"></p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-3 form-group">
                            <label>Телефон:</label>
                            <input type="text" class="form-control" placeholder="+375(XX)XXXXXXX" th:field="*{phone}">
                        </div>
                        <div class="col-sm-4">
                            <p th:each="error: ${#fields.errors('phone')}"
                               th:text="${error}"></p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </form>
                <h4 th:text="${successMessage}"></h4>
            </div>
        </section>
    </main>
</body>
</html>