<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<main th:fragment="error">
    <section class="container my-3">
        <h3>Произошла ошибка!</h3>
        <p>Если у вас возникли вопросы, то Вы можете обратиться в <a href="#">тех. поддержку.</a></p>
    </section>
</main>

<main th:fragment="expired-error">
    <section class="container my-3">
        <h3>Произошла ошибка!</h3>
        <p>Время ожидания сессии истекло.</p>
        <h5>Это могло произойти по следующим причинам:</h5>
        <ul>
            <li>Аккаунт был заблокирован</li>
            <li>Вы попытались повторно войти в аккаунт</li>
        </ul>
        <p>Если у вас возникли вопросы, то Вы можете обратиться в <a href="#">тех. поддержку.</a></p>
    </section>
</main>

</body>
</html>