<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<main th:fragment="main-home">
    <section class="container mt-3" th:if="${successMessage}">
        <div class="alert alert-info">
            <span th:text="${successMessage}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
        </div>
    </section>
    <br><br>
    <section>
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active border rounded" data-toggle="tab"
                       href="#content-simple-search">
                        Поиск недвижимости
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active border rounded" id="content-simple-search">
                    <form>
                        <div class="form-row">
                            <div class="col-3 form-group">
                                <label>Тип недвижимости</label>
                                <input type="text" class="form-control"/>
                            </div>
                            <div class="col-2 form-group">
                                <label>Город</label>
                                <input type="text" class="form-control"/>
                            </div>
                            <div class="col-2 form-group">
                                <label>Район</label>
                                <input type="text" class="form-control"/>
                            </div>
                            <div class="col-2 form-group">
                                <label>Кол-во комнат</label>
                                <input type="text" class="form-control"/>
                            </div>
                            <div class="col-1 form-group">
                                <label>Цена от</label>
                                <input type="text" class="form-control"/>
                            </div>
                            <div class="col-1 form-group">
                                <label>Цена до</label>
                                <input type="text" class="form-control"/>
                            </div>
                            <div class="col-1 form-group">
                                <label class="invisible">""</label>
                                <button type="submit" class="btn btn-primary">Поиск</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="offset-10 col-2">
                                <a class="btn-link" href="#">Расширенный поиск</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <br/><br/>
    <section>
        <div class="container">
            <h3>«МУРМАНСКИЙ ЦЕНТР УПРАВЛЕНИЯ НЕДВИЖИМОСТЬЮ»</h3>
            <p>
                Молодое и динамично развивающееся, одно из ведущих агентств на рынке недвижимости Мурманска и Мурманской
                области. Компания предлагает полный спектр услуг по покупке, продаже, аренде, обмену, оценке, управлению
                недвижимостью, помощь в оформлении кредита, приватизация, оптимизация налогообложения и многое другое.
                Наша компания реализует дома, квартиры, комнаты, офисы, склады, торговые площади, землю и даже готовый
                бизнес.
                Наша деятельность направлена на оперативное удовлетворение потребностей граждан и организаций, отвечая
                высоким требования профессиональных стандартов и этических норм.
            </p>
            <h2>НАШ ПРИНЦИП РАБОТЫ</h2>
            <p>
                Работа нашего агентства нацелена на открытость, надежность и тщательность в проведении каждой сделки. Мы
                заботимся об интересах наших клиентов. Специалисты компании «Мурманский центр управления недвижимостью»
                обладают высокой квалификационной подготовкой, которая позволяет профессионально решать любые вопросы.
            </p>
            <h3>НАШИ ПРИМУЩЕСТВА</h3>
            <h5>Доступность услуг</h5>
            <p>В нашей компании функционируют два уютных, современных офиса, оборудованных всем необходимым для
                подготовки и безопасного проведения сделок с недвижимостью. Также есть возможность предоставления услуги
                на дому по Вашей заявке.</p>
            <h5>Профессиональные специалисты</h5>
            <p>Многолетний опыт, высокий профессионализм, ответственность и честность позволяют нам быть достойными
                своих клиентов. Для оказания квалифицированных услуг в сфере недвижимости в Мурманском центре управления
                недвижимостью функционируют: юридический и ипотечный отделы, отдел по печати договоров, отдел оценки, а
                также высококвалифицированные опытные специалисты по продаже и аренде жилой, загородной и коммерческой
                недвижимости.</p>
            <h5>Качество</h5>
            <p>Мы боремся за качество оказываемой услуги на каждом этапе работы: от проведения консультации до
                оформления сделки. Наши комиссионные всегда обоснованы.</p>
            <h5>Уникальная база недвижимости</h5>
            <p>Наличие собственной, самой полной базы недвижимости.</p>
            <h5>Юридическая проверка</h5>
            <p>Юридическая проверка чистоты сделки, что подтверждается выдачей справки-информации.</p>
        </div>
    </section>
</main>
</body>
</html>