<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<main th:fragment="main-home">
    <section class="container my-3" th:if="${successMessage}">
        <div class="alert alert-info">
            <span th:text="${successMessage}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
        </div>
    </section>
    <section class="my-3">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active border rounded" data-toggle="tab"
                       href="#content-simple-search">
                        Поиск недвижимости
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active border rounded" id="content-simple-search">
                    <form class="p-2">
                        <div class="form-row">
                            <div class="col-3 form-group">
                                <label>Тип недвижимости</label>
                                <input type="text" class="form-control"/>
                            </div>
                            <div class="col-2 form-group">
                                <label>Город</label>
                                <input type="text" class="form-control"/>
                            </div>
                            <div class="col-2 form-group">
                                <label>Район</label>
                                <input type="text" class="form-control"/>
                            </div>
                            <div class="col-2 form-group">
                                <label>Кол-во комнат</label>
                                <input type="text" class="form-control"/>
                            </div>
                            <div class="col-1 form-group">
                                <label>Цена от</label>
                                <input type="text" class="form-control"/>
                            </div>
                            <div class="col-1 form-group">
                                <label>Цена до</label>
                                <input type="text" class="form-control"/>
                            </div>
                            <div class="col-1 form-group">
                                <label class="invisible">""</label>
                                <button type="submit" class="btn btn-primary">Поиск</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="offset-10 col-2">
                                <a class="btn-link" href="#">Расширенный поиск</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="my-3">
        <div class="container">
            <article class="my-3">
                <h3>ПЛАТФОРМА «SANCHOO»</h3>
                <p class="text-justify">
                    Молодое и динамично развивающееся, одна из ведущих платформ на рынке недвижимости Беларуси.
                    Платформа
                    предлагает полный спектр услуг по покупке, продаже, аренде недвижимости.
                    Наша платформа реализует дома, квартиры, комнаты, офисы, склады, торговые площади, землю и даже
                    готовый
                    бизнес.
                    Деятельность платформы направлена на оперативное удовлетворение потребностей граждан и организаций,
                    отвечая
                    высоким требования профессиональных стандартов и этических норм.
                </p>
                <h3>НАШ ПРИНЦИП РАБОТЫ</h3>
                <p class="text-justify">
                    Работа нашей платформы нацелена на открытость, надежность и тщательность в проведении каждой сделки.
                    Мы
                    заботимся об интересах наших клиентов.
                </p>
            </article>
            <article class="my-3">
                <h3>НАШИ УСЛУГИ</h3>
                <div class="card-deck mt-3">
                    <div class="card">
                        <img class="card-img-top img-fluid" th:src="@{/images/sale.png}">
                        <div class="card-body">
                            <h4 class="card-title text-center">Продажа</h4>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-fluid" th:src="@{/images/buy.png}">
                        <div class="card-body">
                            <h4 class="card-title text-center">Покупка</h4>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-fluid" th:src="@{/images/rent.png}">
                        <div class="card-body">
                            <h4 class="card-title text-center">Аренда</h4>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</main>
</body>
</html>