<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security">
<body>
<th:block th:fragment="like(property, urlName, size)">
    <a th:with="action=${@userServiceImpl.findUserByUserName(#authentication.name).getFavoritesProperty().contains(property)}? 'delete' : 'add'"
       th:href="@{/user/{action}/favorite/{propertyId}(action=${action}, propertyId=${property.id}, url=${urlName})}"
       sec:authorize="isAuthenticated() && !hasRole('ADMIN')">
        <img class="scale-img img-fluid" th:width="${size}" th:height="${size}"
             th:src="@{/images/{image}.png(image=${action == 'add'}? 'not-favorites' : 'in-favorites')}">
    </a>
</th:block>
</body>
</html>