<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security">
<body>
    <!--Guest items of navbar-->
    <ul class="navbar-nav ml-auto" th:fragment="guest-navbar-items">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/login}">Войти</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/registration}">Регистрация</a>
        </li>
    </ul>

    <!--User/moderator items of navbar-->
    <ul class="navbar-nav ml-auto" th:fragment="user-moderator-navbar-items">
            <li class="nav-item">
                <a class="nav-link" href="#">Мои объявления</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Подать объявление</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Избранное</a>
            </li>

            <!--Moderator link-->
            <li class="nav-item" sec:authorize="hasRole('MODERATOR')">
                <a class="nav-link" href="#">Объявления на проверку</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    Профиль
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" th:href="@{/edit/profile}">Редактировать профиль</a>
                    <a class="dropdown-item" th:href="@{/edit/password}">Изменить пароль</a>
                    <a class="dropdown-item" th:href="@{/perform_logout}">Выход</a>
                </div>
            </li>
            <li class="nav-item">
                <img th:src="@{/img/user/{fileName}(fileName=${@userServiceImpl.findUserByUserName(#authentication.name).getFileName()})}" class="rounded-circle" width="40" height="40"/>
            </li>
    </ul>


        <!--Admin items of navbar-->
    <ul class="navbar-nav ml-auto" th:fragment="admin-navbar-items">
            <li class="nav-item">
                <a class="nav-link" href="#">Тех. поддержка</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Список пользователей</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    Профиль
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" th:href="@{/edit/profile}">Редактировать профиль</a>
                    <a class="dropdown-item" th:href="@{/edit/password}">Изменить пароль</a>
                    <a class="dropdown-item" th:href="@{/perform_logout}">Выход</a>
                </div>
            </li>
            <li class="nav-item">
                <img th:src="@{/img/user/{fileName}(fileName=${@userServiceImpl.findUserByUserName(#authentication.name).getFileName()})}" class="rounded-circle" width="40" height="40"/>
            </li>
    </ul>
</body>
</html>