<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!--Home items of navbar-->
    <ul class="navbar-nav ml-auto" th:fragment="home-navbar-items">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/login}">Войти</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/registration}">Регистрация</a>
        </li>
    </ul>

    <!--User items of navbar-->
    <ul class="navbar-nav ml-auto" th:fragment="user-navbar-items">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/perform_logout}">Выйти</a>
        </li>
    </ul>
</body>
</html>