<!DOCTYPE html>

<!--About for guests-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security"
      sec:authorize="!isAuthenticated()"
      th:replace="~{layout/main-layout :: main-fragment(
      ~{fragment/navbar-fragment :: guest-navbar-items},
      ~{fragment/about-fragment :: about}
      )}">
</html>

<!--About for user/moderator-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security"
      sec:authorize="hasRole('USER')"
      th:replace="~{layout/main-layout :: main-fragment(
      ~{fragment/navbar-fragment :: user-moderator-navbar-items},
      ~{fragment/about-fragment :: about}
      )}">
</html>

<!--About for admin-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security"
      sec:authorize="hasRole('ADMIN')"
      th:replace="~{layout/main-layout :: main-fragment(
      ~{fragment/navbar-fragment :: admin-navbar-items},
      ~{fragment/about-fragment :: about}
      )}">
</html>
