<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="blocked-users">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/users}">Пользователи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/moderators}">Модераторы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/admin/blocked-users}">Заблокированные пользователи</a>
        </li>
    </ul>
</th:block>

<div th:fragment="buttons-blocked-users">
    <div>
        <form th:action="@{/admin/unblock-user}" method="post">
            <input type="hidden" th:value="${user.id}" name="id">
            <input type="hidden" value="/admin/blocked-users" name="url">
            <button type="submit" class="btn btn-primary">
                Разблокировать
            </button>
        </form>
    </div>
</div>
</body>
</html>