<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="buttons">
    <div class="card-footer text-center" th:if="${#authentication.name == property.user.userName}">
        <div class="row">
            <div class="col-sm-6 p-2">
                <a th:href="@{/user/ad/edit/{id}(id=${property.id}, url=${'/user/favorites-ads' + '?size=' + propertyPage.size + '&page=' + (propertyPage.number + 1)})}"
                   class="btn btn-primary">Редактировать</a>
            </div>
            <div class="col-sm-6 p-2">
                <form class="mb-0" th:action="@{/user/ad/deactivate}" method="post">
                    <input type="hidden" th:value="${property.id}" name="id">
                    <input type="hidden" th:value="${'/user/favorite-ads' + '?size=' + propertyPage.size + '&page=' + (propertyPage.number + 1)}" name="url">
                    <button type="submit" class="btn btn-primary">Деактивировать</button>
                </form>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>