<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="not-active-tabs">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/user/active-ads}">Активные</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/user/in-review-ads}">На проверке</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/user/not-active-ads}">Не активные</a>
        </li>
    </ul>
</th:block>

<th:block th:fragment="buttons">
    <a th:href="@{/user/ad/edit/{id}(id=${property.id})}" class="btn btn-primary">Редактировать</a>
</th:block>
</body>
</html>